[Unit]
Description=Nimrod home automation service

[Service]
WorkingDirectory=/var/www/html/nimrod
ExecStart=/var/www/html/nimrod/bin/nimrod
Restart=always
RestartSec=5
StandardOutput=null
User=nimrod
Group=nimrod

[Install]
WantedBy=multi-user.target
Alias=nimrod.service

