<?php
//--------------------------------------------------------------------------------------
//
//	Nimrod Website
//	Copyright (c) 2015 Dave Clarke
//
//--------------------------------------------------------------------------------------

// login names and passwords
define( 'DB_HOST_NAME', '127.0.0.1' );
define( 'DB_USER_NAME', 'nimrod_user' );
define( 'DB_PASSWORD', 'passw0rd' );
define( 'DB_DATABASE_NAME', 'nimrod' );

// remote mysql host (defaults to nimrod user)
define( 'REMOTE_MYSQL_HOST', '192.168.1.188' );

// log file directory
define( 'NIMROD_LOG_DIR', '/home/nimrod' );

// logout timer in seconds
define( 'AUTO_REFRESH_LOGOUT', 1800 );	// 1800

// modbus baud rate
define( 'MODBUS_BAUD_RATE', '19200' );

// CCTV cameras
define( "CAMERA_USER", "camuser" );
define( "CAMERA_PWD", "passw0rd.39" );

// camera files web root
define( "CAMERA_WEB_ROOT", "/var/www/html" );
define( "CAMERA_FS_ROOT", "/home" );

// format is "ip_address:Camera_Name:PTZ_Capable:FTP_server_directory"
define( "CAMERA_01", "192.168.1.121:Garage:false:/cctv/garage/FI9853EP_00626E570130" );
define( "CAMERA_02", "192.168.1.122:Front Door:false:/cctv/frontdoor/FI9853EP_00626E588A36" );
define( "CAMERA_03", "192.168.1.123:Car Port:false:/cctv/carport/FI9853EP_00626E588A46" );
define( "CAMERA_04", "192.168.1.124:Back Yard:false:/cctv/backyard/FI9853EP_00626E6174E5" );
define( "CAMERA_05", "192.168.1.125:Back Shed:false:/cctv/backshed/FI9853EP_00626E617511" );
define( "CAMERA_06", "192.168.1.126:Front Yard:false:/cctv/frontyard/FI9853EP_00626E588A1C" );
define( "CAMERA_07", "192.168.1.120:Test:true:/cctv/test/FI9821EP_00626E562835" );


?>

