<?php
//--------------------------------------------------------------------------------------
//
//	Nimrod Website
//	Copyright (c) 2015 Dave Clarke
//
//--------------------------------------------------------------------------------------

// login names and passwords
define( 'DB_HOST_NAME', '127.0.0.1' );
define( 'DB_USER_NAME', 'nimrod_user' );
define( 'DB_PASSWORD', 'passw0rd' );
define( 'DB_DATABASE_NAME', 'nimrod' );

// remote mysql host (defaults to nimrod user)
define( 'REMOTE_MYSQL_HOST', '192.168.1.188' );

// log file directory (symlinked to /var/tmp)
define( 'NIMROD_LOG_DIR', '/home/nimrod/log' );

// logout timer in seconds
define( 'AUTO_REFRESH_LOGOUT', 1800 );	// 1800

// plc state machine
define( 'SHOW_PLC', 1 );

// autologin username
define( 'AUTOLOGIN_USERNAME', '' );

?>

