#html, body {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width:900px;
  height: 100%;
  margin: auto;
}

body {
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
}

select, button, input[type=submit], input[type=button] {
	padding: 3px;
}

input[type=checkbox] {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

.style-news { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:11px; }
.style-news-np { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:11px; }
@media print {
.style-news-np { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:11px; display: none; }
}

.style-small { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:10px; }
.style-small-np { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:10px; }
@media print {
.style-small-np { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:10px; display: none; }
}

.style-small-red { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#ff0000; }
.style-small-red-np { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#ff0000; }
@media print {
.style-small-red { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#ff0000; display: none; }
}

.style-small-blue { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#0000ff; }
.style-small-blue-np { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#0000ff; }
@media print {
.style-small-blue { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#0000ff; display: none; }
}

.style-title { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:26px; font-weight:bold; color:#003366; }
.style-title-np { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:26px; font-weight:bold; color:#003366; }
@media print {
.style-title-np { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:26px; font-weight:bold; color:#003366; display: none; }
}

.style-bold { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:18px; font-weight: bold; }
.style-bold-np { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:18px; font-weight: bold; }
@media print {
.style-bold-np { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:18px; font-weight: bold; }
}

.style-bold-blue { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:18px; font-weight: bold; color: #0000ff; }
.style-bold-blue-np { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:18px; font-weight: bold; color: #0000ff; }
@media print {
.style-bold-blue-np { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:18px; font-weight: bold; color: #0000ff; display: none; }
}

.style-blue { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:18px; font-weight: normal; color: #0000ff; }
.style-blue-np { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:18px; font-weight: normal; color: #0000ff; }
@media print {
.style-blue-np { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:18px; font-weight: normal; color: #0000ff; display: none; }
}

.style-bold-red { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:18px; font-weight: bold; color: #ff0000 }
.style-bold-red-np { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:18px; font-weight: bold; color: #ff0000 }
@media print {
.style-bold-red-np { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:18px; font-weight: bold; color: #ff0000; display: none; }
}

.style-medium { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:14px; font-weight: bold; }
.style-medium-np { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:14px; font-weight: bold; }
@media print {
.style-medium-np { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:14px; font-weight: bold; display: none; }
}

.style-medium-blue { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:14px; font-weight: bold; color: #0000ff; }
.style-medium-blue-np { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:14px; font-weight: bold; color: #0000ff; }
@media print {
.style-medium-blue-np { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:14px; font-weight: bold; color: #0000ff; display: none; }
}

.style-normal { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:13px }
.style-normal-np { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:13px }
@media print {
.style-normal-np { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:13px; display: none }
}

.style-normal-btn { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:13px }
.style-normal-btn-np { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:13px }
@media print {
.style-normal-btn-np { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:13px; display: none }
}

.style-normal-red { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:13px; color:#ff0000; }
.style-normal-red-np { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:13px; color:#ff0000; }
@media print {
.style-normal-red-np { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:13px; color:#ff0000; display: none; }
}

.style-normal-blue { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:13px; color:#0000ff; }
.style-normal-blue-np { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:13px; color:#0000ff; }
@media print {
.style-normal-blue-np { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:13px; color:#0000ff; display: none; }
}

.style-link { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:13px; color: #00bfff; }
.style-link-np { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:13px; color: #00bfff; }
@media print {
.style-link-np { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:13px; color: #00bfff; display: none; }
}

.style-error { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:13px; color: #ff0000; }
.style-error-np { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:13px; color: #ff0000; }
@media print {
.style-error-np { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:13px; color: #ff0000; display: none; }
}

.style-info { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:13px; color: #0099ff; }
.style-info-np { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:13px; color: #0099ff; }
@media print {
.style-info-np { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:13px; color: #0099ff; display: none; }
}

.style-hidden { display: none; }

a.style-bold-red:link, a.style-bold-red:visited { 
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size:18px; font-weight: bold; color: #ff0000 }

a.style-link:link, a.style-link:visited, a.style-link:hover { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size:13px; 
	color: #00bfff; 
}

a.style-link:hover { 
	font-weight: bold;
}
		
.style-spine-vert {
	height: 100%;
	width: 3px;
}

.style-button80 { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px;
	width: 80px;
}

table.style-table {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size:12px;
	display: block;
	overflow: auto;
	background-color: #ffffff;
	border-bottom: 1px solid #C0C0C0;
}
table.style-headertable td {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size:12px;
	overflow: auto;
	background-color: #ffffff;
	border-bottom: 1px solid #C0C0C0;
	border-left: 1px solid #C0C0C0;
	border-right: none;
	border-top: 1px solid #D0D0D0;
	padding: 2px 3px 3px 4px;
}
tbody.style-tbody td, tbody.style-tbody tr.normalRow td, tbody.a.style-tbody {
	background: #F0F0F0;
	border-bottom: none;
	border-left: 1px solid #C0C0C0;
	border-right: none;
	border-top: 1px solid #D0D0D0;
	padding: 2px 3px 3px 4px;
	text-decoration: none;
}
tbody.style-tbody tr.alternateRow td {
	background: #E0E0E0;
	border-bottom: none;
	border-left: 1px solid #C0C0C0;
	border-right: none;
	border-top: 1px solid #D0D0D0;
	padding: 2px 3px 3px 4px;
}
tbody.style-tbody tr.selectedRow td {
	background: #66ccff;
	border-bottom: none;
	border-left: 1px solid #C0C0C0;
	border-right: none;
	border-top: 1px solid #D0D0D0;
	padding: 2px 3px 3px 4px;
}
a.style-tablelink:link, a.style-tablelink:visited {
	color: #000000;
	text-decoration: none;
	width:100%;
	padding:0px 0px 0px 0px;
	display: block;
}
a.style-tablelink:hover {
	color: #000000;
	text-decoration: none;
	width:100%;
	padding:0px 0px 0px 0px;
	display: block;
}

a.style-menu-link:link, a.style-menu-link:visited, a.style-menu-link:hover { 
	font-size:13px; 
	color: #00bfff; 
	font-weight: bold;
	border: 1px solid #ffffff;
}

a.style-menu-link:hover { 
	border: 1px solid #000000;
	background-color: #ffffff;
}
		
.popup .items { display: none }

.popup:hover > .items {
    display: block;
    font-size: 100%;
    border: gray solid thin;
    background-color: white;
    position: absolute;
    left: 30px;
    z-index: 1;
	text-decoration: none;
}

.popup .items a {
    text-decoration: none;
    color: black;
	font-weight: bold;
}

.popup .items a:hover { 
	color: blue;
	font-weight: bold;
} 

.style-small-table {
	table-layout: fixed; 
	border: 1px solid;
	border-radius: 6px;
	border-color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 13px;
	text-align: left;
}

.style-small-table-td {
	white-space: pre;           /* CSS 2.0 */
	white-space: pre-wrap;      /* CSS 2.1 */
	white-space: pre-line;      /* CSS 3.0 */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -hp-pre-wrap;  /* HP Printers */
	word-wrap: break-word;      /* IE 5+ */
}
